CONFIG_ARM=y
CONFIG_ARCH_SUNXI=y
CONFIG_DEFAULT_DEVICE_TREE="sun8i-r16-x6100"
CONFIG_SPL=y
CONFIG_MACH_SUN8I_A33=y
CONFIG_DRAM_ZQ=15291
CONFIG_DRAM_ODT_EN=y
CONFIG_PREBOOT=""
# CONFIG_SYS_DEVICE_NULLDEV is not set
CONFIG_USB_MUSB_HOST=y
CONFIG_MMC0_CD_PIN="PE3"
CONFIG_AXP_GPIO=y
CONFIG_AXP_DCDC1_VOLT=3300
